<a href="https://colab.research.google.com/github/cjvilla/Gold-Projections/blob/main/Code/cleaning_gold_predictions_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Imported Modules**

In [1]:
import pandas as pd
import numpy as np
import os

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
prediction_df = pd.read_csv('/content/drive/MyDrive/Gold-Projections/celine-work/final_gold_predictions.csv')
prediction_df.head()

   Year  Month  ...  south_african_rand  australian_dollar
0  1979      1  ...          197.018182         198.600000
1  1979      2  ...          209.860000         216.650000
2  1979      3  ...          204.359091         215.945454
3  1979      4  ...          202.347619         215.414286
4  1979      5  ...          217.695652         233.165217

[5 rows x 9 columns]

In [19]:
prediction_df['Date'] = prediction_df.Month.astype(str) + '/' +  prediction_df.Year.astype(str)
prediction_df['Date'] = pd.to_datetime(prediction_df['Date'])
prediction_df['Date'] = prediction_df['Date'].dt.date.apply(lambda x: x.strftime('%m/%Y'))
prediction_df.head()

   Year  Month  Inflation_Value  ...  south_african_rand  australian_dollar     Date
0  1979      1              9.3  ...          197.018182         198.600000  01/1979
1  1979      2              9.9  ...          209.860000         216.650000  02/1979
2  1979      3             10.1  ...          204.359091         215.945454  03/1979
3  1979      4             10.5  ...          202.347619         215.414286  04/1979
4  1979      5             10.9  ...          217.695652         233.165217  05/1979

[5 rows x 10 columns]

In [20]:
prediction_df = prediction_df[['Date', 'Inflation_Value', 'dollar_index', 'us_dollar', 'pound', 'indian_rupee', 'south_african_rand', 'australian_dollar']]
prediction_df.head()

      Date  Inflation_Value  ...  south_african_rand  australian_dollar
0  01/1979              9.3  ...          197.018182         198.600000
1  02/1979              9.9  ...          209.860000         216.650000
2  03/1979             10.1  ...          204.359091         215.945454
3  04/1979             10.5  ...          202.347619         215.414286
4  05/1979             10.9  ...          217.695652         233.165217

[5 rows x 8 columns]

In [22]:
prediction_df.dtypes

Date                   object
Inflation_Value       float64
dollar_index          float64
us_dollar             float64
pound                 float64
indian_rupee          float64
south_african_rand    float64
australian_dollar     float64
dtype: object

# **Saving Cleaned DataFrame to .CSV**

In [21]:
prediction_df.to_csv('/content/drive/MyDrive/Gold-Projections/celine-work/datetime_gold_predictions.csv')