In [1]:
import pandas as pd
import csv
import os

prices = pd.read_csv("Gold_Prices.csv")
prices.head()

,Date,US dollar,Euro,Japanese yen,Pound sterling,Canadian dollar,Swiss franc,Indian rupee,Saudi riyal,UAE dirham,Thai baht,Korean won,South African rand,Australian dollar
0,1/2/79,226.8,137.3,43164.9,111.5,263.7,359.6,1792.9,735.6,851.3,4454.6,107470.0,194.6,193.6
1,1/3/79,218.6,134.0,43717.9,108.0,264.4,365.9,1802.2,739.4,855.7,4477.7,108027.4,192.2,193.0
2,1/4/79,223.2,136.8,43674.9,110.7,264.1,366.4,1811.7,743.4,860.3,4501.5,108602.5,193.0,194.6
3,1/5/79,225.5,138.4,44582.5,111.6,268.4,373.7,1843.6,756.4,875.4,4580.6,110510.4,196.4,197.9
4,1/8/79,223.1,136.4,44436.2,110.2,269.5,372.6,1841.3,750.9,869.7,4574.2,110356.3,197.2,197.9